.checkout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .centered-text {
    text-align: center;
    padding-left: 35%;
  }
  .shipping-form {
    text-align: left; /* Align form elements to the left */
    max-width: 495px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally in the container */
    border: 1px solid #ccc; /* Add a border to the form */
    border-radius: 10px; /* Set the border-radius to create rounded corners */
    padding: 20px; /* Add some padding to the form */
    background-color: grey;
}
  .form-group {
    margin-bottom: 10px;
  }
  label {
    display: block; /* Place labels on top of input fields */
    margin-bottom: 5px;
  }
  input {
   width: 480px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .name-input {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }
  .name-input input {
    flex: 1;
    /* margin-right: 2px; */
    width: 175px; /* Add space between the input fields */
  }
  h2{
    position: relative;
    margin-top: 80px;
  }
  select {
    width: 480px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
  @media only screen and (max-width: 800px) {
    .checkout-container {
      flex-direction: column;
    }
    .bigger-left {
      border-right: none;  /* Remove the border on smaller screens */
    }
  }
