.all-contents {
  width: 100%;
  display: flex;
  max-height: 720px; 
}
h3{
  text-align: center;
  font-family:'Courier New', Courier, monospace
}
.product-contents {
  border: 1px solid #ccc;
  width: 85%;
}
/* .filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.filtering-contents {
  border: 1px solid #ccc;
  width: 15%;
}
.filter {
  max-height: 720px;
  max-width: 100%;
}
.filtering-contents,
.product-contents {
  display: flex;
  flex-direction: column;
}
.filtering-contents {
  padding: 10px;
}
.product-contents {
  padding: 10px;
}
.card {
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.card:hover {
  background-color: #f5f5f5;
}
.card-footer {
  display: flex;
  justify-content: flex-end; 
  background-color: #f5f5f5; 
  padding: 10px; 
}
.button {
  background-color: lightgray; 
  color: white; 
  padding: 2%;
}
.scrollable-table {
  max-height: 720px;
  overflow-y: auto;
  position: relative;
  max-width: 100% ;
}
h1{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 40px;
}
h2{
  font-family: 'courier New', Courier, monospace;
  margin-top: 90px;
  text-align: center;
}
footer{
  text-align: center;
  margin-top: 23%;
}
