.card {
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.card:hover {
  background-color: #f5f5f5; /* Change the background color on hover */
}
.card-footer {
  display: flex;
  justify-content: flex-end; /* Align contents to the right */
  background-color: #f5f5f5; /* Set a background color for the footer */
  padding: 10px; /* Add padding for spacing */
}
.button {
  background-color: lightgray; /* Change 'red' to the color you desire */
  color: white; 
  padding: 2%;
}
.scrollable-table {
  max-height: 800px; /* Adjust the height as needed */
  overflow-y: auto;
  position: relative;
  max-width: 100% ;
}
h1{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 40px;
}
h2{
  font-family: 'courier New', Courier, monospace;
  margin-top: 90px;
  text-align: center;
}